* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    padding: 16px;
    position: sticky;
    top: 0;
    border: 1px solid white;
    background: hsl(0, 0%, 100%);
    border-bottom: 2px solid;
  }
  a{
    text-decoration: none;
  }
  header nav > a {
    margin-right: 16px;
 
  }

  header #menu-button{
    display: none;
    z-index: 1;
  }

  header nav > a:hover {
    background-color: rgba(158, 218, 255, 0.4) ;
    border: 1px dashed black;
    border-radius: 5px;
    
  }
  h1{
    font-size: 2rem;
  }

  footer {
    padding: 16px;
    text-align: center;
    border-top: 4px solid;
  }
  .container {
    padding: 16px;
  }
  
  .container > section > h2 {
    text-align: center;
  }
  
  .intro {
    margin: -16px;
    padding: 16px;
    background-color: #1d1c1c;
    color: white;
    text-align: center;
  }
  
  #profile-image {
    width:35%;
    border-radius: 15px;
  }
  
  .social-links img {
    height: 40px;
    width: 40px;
  }
  
  .social-links img:hover {
    padding: 3px;
    border:2px solid white;
    border-radius: 16px;
  }
  .social-links a {
    text-decoration: none;
    margin: auto 16px;
  }
  
  table,
  tr,
  td,
  th {
    border: 1px solid;
    border-collapse:collapse;
  }

  th,
  td{
    padding: 8px;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  .dynamic-text-color {
    color: royalblue;
  }
  
  form#contact {
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;
  }
  
  #contact label {
    display: block;
    font-weight: 600;
  }
  #contact input,
  #contact textarea,
  #contact button {
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
  }
  #contact-me {
    margin-top: 16px;
  }

  .menu,#menu-button{
    display:none;
  }

  /*Responsive Design*/

@media (width<580px) {

  header #menu-button
  {
    display: block;
    margin-left:auto;
    background-color: transparent;
    border: 2px solid purple;
    border-radius: 6px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }
  .menu #close-menu{
    position: absolute;
    top:8px;
    right:8px;
    border:none;
    font-size: x-large;
    color: rgb(106, 26, 2);
  } 
  .menu{
    display: revert;
    height:0;
    width:100%;
    position: absolute;
    overflow: hidden;
    top:0;
    z-index:1;
    background-color: wheat;
    transition:height 0.5s ease-in-out;;
  }
  .menu nav{
    margin-top:32px;
  }
  .menu nav > ul{
    padding-left:0;
  }
  #close-menu{
    display: block;
    margin-left:auto;
    background-color: transparent;
    font-size:large;
    font-weight: bold;
  }
  .menu  li{
    list-style:none;
    margin-bottom: 16px;
    font-size: large;
    text-align: center;
    
  }
  header .default-nav{
    display: none;
  }
  
  #profile-image{
    width:60%;
  }

  .social-links img {
    height: 30px;
    width: 30px;
  }
  
}

